html, body {
  margin: 0;
  font-family: 'Helvetica', arial, sans-serif;
  color: #222;
}

table {
  margin: 20px auto;
  text-align: left;
}

table th,
table td {
  padding: 5px 10px;
  border-bottom: 1px solid #efefef;
}

table td {
  font-size: 14px;
}

a[href] {
  color: #5e9c2b;
  text-decoration: none;
}
a[href]:hover {
  color: #528825;
  text-decoration: underline;
}
a[href]:visited {
  color: #3a601a;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 17px;
}

.modal,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
}

.modal-content {
  position: relative;
  width: 40%;
  max-height: 80vh;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
}

.modal-content button {
  position: absolute;
  top: 10px;
  right: 10px;
}
